# Virtual Environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/